* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}



/* nav */

nav {
    width: 100%;
    height: 70px;
    background-color: #0084fd;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
}

.dropdown {
    font-size: 25px;
    color: white;
}

/* hidden on mobile */
ul {
    display: flex;
    list-style-type: none;

    gap: 10px;
    margin-left: auto;

    display: none;
}





/*main*/

.container {
    width: 100%;
    padding: 65px 30px;
}

p {
    font-size: 14px;
    font-weight: 600;
    color: #5a6e7f;
    line-height: 1.8em;

    padding-bottom: 20px;
}



/* features + download */
.row-app {
    display: flex;
    flex-direction: column;
}

.app {
    display: flex;
    flex-direction: column;

    height: auto;
    margin-bottom: 24px;

    background-color: #b5ddff;
    border-radius: 20px;
}

.large-app {
    min-width: calc((100% / 3 * 2) - 24px);
    height: 600px;

    margin-bottom: 24px;

    background-color: #b5ddff;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
}

.text,
.image {
    height: 50%;
}

.large-app .text h2 {
    text-align: left;
    font-size: 20px;

    padding: 20px 30px;

    color: #0084fd;
}

.large-app .text p {
    text-align: left;

    padding: 0 30px;
}

.large-app .image img {
    height: 100%;
}

button {
    margin-top: 30px;
    padding: 12px 50px;

    background-color: #0084fd;
    color: white;

    border: none;
    border-radius: 20px;
}

.app i {
    padding-top: 30px;

    font-size: 80px;

    color: #0084fd;
}

.app h2 {
    font-size: 20px;

    padding: 30px 0;

    color: #0084fd;
}

.app p {
    padding: 0 30px;
    padding-bottom: 20px;
}



/* Strategic planning */

section:nth-child(2) {
    height: auto;

    background-color: #9792e4;
}

.inner .image img {
    height: 90%;
    width: 100%;
}

.inner .text h2 {
    padding: 35px 0;

    font-size: 30px;

    color: white;
}

.inner .text p {
    text-align: left;

    color: white;
}

.row {
    display: flex;
    flex-direction: column;
}

.inner {
    display: flex;
    flex-direction: column;

    min-width: calc(100% / 2);
    height: auto;
}

.small {
    padding: 20px;

    background-color: white;

    border-radius: 40px;
}

.small .text h3 {
    font-weight: 700;
    padding-top: 20px;
}

.small .text p {
    color: black;

    text-align: center;

    padding: 20px 0;
}

.fa-arrow-down {
    font-size: 15px;

    background-color: #9792e4;

    padding: 10px;
    border-radius: 50%;
}



/* Testimonials */

.container>div {
    text-align: center;
}

h1 {
    color: #9792e4;

    padding: 35px 0;

    font-size: 28px;
}

.container .testimonials p {
    color: black;

    font-weight: 400;
    font-size: 16px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 30px;
    border-radius: 40px;
    margin: 30px 0;

    height: auto;

    background-color: #9792e4;
}

.box .pic {
    height: 180px;
    width: 180px;
}

.box .pic img {
    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
}

.box .text {
    height: 60%;

    padding-top: 30px;
}

.box .text p {
    font-weight: 400;
    font-size: 16px;

    color: white;

    padding: 0 15px;
}

.name {
    padding: 20px;

    font-weight: 700;

    color: white;
}



/* Benefits */
section:nth-child(4) {
    background-color: #9792e4;
}

section:nth-child(4) .container h2 {
    padding-top: 0;
    padding-bottom: 70px;

    text-align: center;

    color: white;
}

.benefits {
    display: flex;
    flex-direction: column;
}

.benefits-container {
    text-align: left;

    width: 100%;

    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15px;

    background-color: white;
}

.number {
    font-size: 30px;
    font-weight: 700;

    color: #9792e4;
}

.benefits-container h3 {
    padding: 20px 0;

    color: #9792e4;
}

.benefits-container p {
    color: #929292;
    font-weight: 400;

    padding-bottom: 0;
}

.benefits-container button {
    background-color: #9792e4;
    font-weight: 700;

    margin-bottom: 15px;
    padding: 10px 40px;
}



/* About Us */
.about-us div h2 {
    color: #9792e4;
    font-size: 30px;

    padding-bottom: 15px;
}

.about-us {
    display: flex;
    flex-direction: column;
}

.about-us div {
    text-align: left;
}

.about-us div p {
    color: black;
    font-weight: 400;
    font-size: 14px;

    padding: 15px 0;
}

.quote {
    position: relative;

    padding-top: 20px;
}

.quote .image {
    height: 120px;
    width: 120px;
}

.quote .image img {
    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
}

.quote .fa-quote-left {
    position: absolute;
    top: 5%;
    left: 35%;

    font-size: 40px;
    color: #9792e4;
}

.quote .text p {
    color: #9792e4;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5em;
}

.quote .text button {
    background-color: #9792e4;
    color: white;
    padding: 10px;

    margin-top: 0;
}



/* Get Started */
section:nth-child(6) {
    background-color: #9792e4;
}

.start {
    text-align: center;

    padding-bottom: 64px;
}

.start div {
    padding-top: 50px;

    color: white;
}

.start h2 {
    padding: 30px 50px;

    color: white;
}

.start h1 {
    padding: 0;
    padding-bottom: 30px;

    color: #fdc15f;
    font-size: 50px;
}

.start p {
    color: white;
    font-weight: 400;

    padding: 0px 30px;
}

.start button {
    border-radius: 40px;

    padding: 15px 60px;
    margin: 38px 0;

    background-color: white;
    font-weight: 700;
    color: #9792e4;
}

.start .copyright {
    font-size: 14px;
    padding: 0 30px;
}



/* Footer */
footer {
    background-color: #333333;
}

footer p {
    color: white;
    font-weight: 400;
    line-height: 1.6em;

    text-align: center;

    padding: 35px 30px;
}

footer p a {
    color: #9792e4;
}




/*tablet*/
@media screen and (min-width:768px) {

    section:nth-of-type(1) .container {
        padding-right: 6px;
    }

    .row-app {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .large-app {
        width: calc((100% / 3 * 2) - 24px);

        margin-bottom: 0;
        height: auto;
    }

    .app {
        width: calc(100% /3 - 24px);
        margin-bottom: 24px;

        height: auto;
    }

    .side {
        height: auto;
        margin-bottom: 0;
    }

    .box {
        display: flex;
        flex-direction: row;
    }

    .box .pic {
        width: 40%;
        height: auto;
    }

    .box .text {
        width: 60%;
        height: auto;
    }

    .benefits {
        display: flex;
        flex-direction: row;

        flex-wrap: wrap;
    }

    .benefits div {
        width: calc(50% - 30px);
        margin: 15px;
    }

    .about-us {
        flex-direction: row;
    }

    .about-us .quote {
        padding-left: 60px;
    }
}



/* Desktop */
@media screen and (min-width:992px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        display: flex;
    }

    .dropdown {
        display: none;
    }

    .nav-container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .large-app {
        flex-direction: row;
        height: 340px;
    }

    .large-app .text {
        height: 100%;
    }

    .large-app .image {
        height: 100%;
    }

    .container .row-app:first-child .app {
        height: 340px;
    }

    .row {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        padding: 0 100px;
    }

    .small {
        height: 545px;
    }

    .benefits div {
        width: calc(100% / 3 - 30px);
        margin: 15px;
    }
}