* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





nav {
    width: 100%;
    height: 70px;
    background-color: #0084fd;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.logo {
    /*test*/
    background-color: aqua;
    width: 80px;
    height: 38px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin-left: auto;

    /*(?)*/
    display: none;
}




/*main*/

.container {
    width: 100%;
    padding: 65px 30px;
}

.row-app {
    display: flex;
    flex-direction: column;

}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;

    height: 400px;
    margin-bottom: 24px;

    background-color: #b5ddff;
}

.large-app {
    min-width: calc((100% / 3 * 2) - 24px);
    margin-bottom: 24px;


    /*test*/
    height: 600px;
    background-color: #b5ddff;

    display: flex;
    flex-direction: column;
}

.text,
.image {
    width: 100%;
    height: 50%;
    border: black solid 1px;
}





section:nth-child(2) {
    /*test*/
    height: auto;
    background-color: #9792e4;
}

.row {
    display: flex;
    flex-direction: column;

}

.inner {
    border: solid green 1px;
    display: flex;
    flex-direction: column;
    min-width: calc(100% / 2);
    height: 700px;

}


.container>div {
    text-align: center;

}

h2 {
    padding: 40px 0;
}

.container div p {
    padding-bottom: 20px;
}

.box {
    display: flex;
    flex-direction: column;

    /*test*/
    height: 500px;

    margin: 30px 0;

    background-color: aquamarine;
}

.box .pic {
    height: 40%;
}

.box .text {
    height: 60%;
}




section:nth-child(4) {
    background-color: #9792e4;
}

section:nth-child(4) .container h2 {
    padding-top: 0;
    padding-bottom: 70px;
    text-align: center;
    color: white;
}

.benefits {
    display: flex;
    flex-direction: column;
}

.benefits div {
    width: 100%;
    height: 395px;
    background-color: white;
    margin-bottom: 30px;
}




.about-us {
    display: flex;
    flex-direction: column;
}

.about-us div p {
    line-height: 2em;
    padding-bottom: 60px;
    text-align: left;
}


.quote {
    height: 416px;
}




section:nth-child(6) {
    background-color: #9792e4;
}

.start {
    text-align: center;
    padding-bottom: 64px;
}

.start div {
    padding: 40px 50px;
}

.start h2 {
    padding: 0 50px;
}

.start h1 {
    padding: 40px 0;
}

.start input {
    padding: 20px 70px;
    margin: 38px 0;
}

.start .copyright {
    padding: 0;
}


footer {
    background-color: #333333;
}

footer p {
    color: white;
    text-align: center;
    padding: 35px 30px;
}




/*tablet*/
@media screen and (min-width:768px) {

    section:nth-of-type(1) .container {
        padding-right: 6px;
    }

    .row-app {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .large-app {
        width: calc((100% / 3 * 2) - 24px);

        margin-bottom: 0;
        height: 600px;
    }

    .app {
        width: calc(100% /3 - 24px);
        margin-bottom: 24px;


        height: 400px;
    }

    .side {
        height: 600px;
    }

    .box {
        display: flex;
        flex-direction: row;
        height: 276px;
    }

    .box .pic {
        width: 40%;
        height: auto;
    }

    .box .text {
        width: 60%;
        height: auto;
    }

    .benefits {

        display: flex;
        flex-direction: row;

        flex-wrap: wrap;
    }

    .benefits div {
        width: calc(50% - 30px);
        margin: 15px;
    }

    .about-us {
        flex-direction: row;
    }

    .about-us>div {
        height: 800px;
        width: auto;

    }

    .about-us .quote {
        width: 100%;
        height: 500px;
        padding-left: 60px;
    }


}



@media screen and (min-width:992px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .large-app {
        flex-direction: row;
        height: 340px;
    }

    .large-app .text {
        height: 100%;
    }

    .large-app .image {
        height: 100%;
    }

    .container .row-app:first-child .app {
        height: 340px;
    }

    .row {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        padding: 0 100px;
    }

    .small {
        height: 545px;
    }

    .benefits div {
        width: calc(100% / 3 - 30px);
        margin: 15px;
    }


}